<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Correct</title>
</head>
<body style="background-color:black">

  {% load static %}
  <p style="color:white">Your answer, {{ guess }}, is correct!</p>
  <br/>
  <p style="color:white">You now have {{ points }} points</p>
  <form action="{% url 'songQuiz:continueGame' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Continue"></input>
  </form>

  <img src="{% static 'songQuiz/images/zerotwo.gif' %}" style="position:absolute; bottom:0; right:0"></img>

</body>
</html>
